:root{
    --primary-color--:#3498db;
    --second-color--:#2ecc71;
    --background-color--:#ecf0f1;
    --text-color--:#34495e;
    --shadow-color:rgba(0, 0, 0, 0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color--);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--text-color--);
    line-height: 1.4;
}

.container{
    display: grid;
    padding: 20px;
    margin: 0 50px 0 50px;
}

h1{
    color: var(--primary-color--);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.search-form{
    display: flex;
    gap: 10px;
    margin-bottom:20px;
}

.search-form input{
    width: 400px;
    padding: 10px;
    min-width: 30%; /* valor de exemplo */
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid var(--primary-color--);
    outline: none;
    
}

.search-form .btn-input{
    width: 100px;
    border-radius: 10px;
    color: var(--background-color--);
    background-color: var(--primary-color--);
    font-size: 15px;
    border:none;
    cursor: pointer;
    transition: 0.5s;
}

.search-form .btn-input:hover{
    background-color: #2890b9;
}

 
.product-list{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
    margin-bottom: 30px;
   

}


.product-list .card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0, 4px 6px var(--shadow-color);
    text-align: center;
    padding: 20px;
}

.product-list .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--shadow-color);
}


.card img{
    max-width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.card h4{
    color: var(--primary-color--);
}

.card p{
    margin-top: 5px;
    font-size: 12px;
}

.product-price{
    color:var(--second-color--);
    font-weight: 800;
}
